.App {
  background-color: #161e2c;
  height: 100vh;
  color: rgb(224, 226, 209);
}
.main-container {
  width: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 8px;
  height: 90vh;
  background-color: #313c4e;
}

.folder-tabs {
  display: flex;
  justify-content: space-around;
}

.folder-tab {
  padding: 8px 0px 8px 0px;
  width: 20%;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  background-color: rgb(109, 109, 109);
  /* background-color: #192841; */
}

.selected-tab {
  padding: 8px 0px 8px 0px;
  width: 20%;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  background-color: #1f2e49;
  /* background-color: #192841; */
}

.work-space {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  height: 86%;
  background-color: #1f2e49;
}

.notes-list {
  border: 1px solid rgb(186, 217, 253);
  border-radius: 8px;
  width: 20%;
  margin: 0px 8px 0px 0px;
  background-color: #161e2c;
}

.notes-list-item {
  border-bottom: 1px solid rgb(174, 211, 253);
  padding: 8px;
}

.current-note {
  border: 1px solid rgb(174, 211, 253);
  width: 80%;
  border-radius: 8px;
  margin: 0px 0px 0px 8px;
  background-color: #161e2c;
}

.note-title {
  border-bottom: 1px solid rgb(174, 211, 253);
  padding: 8px;
}

.note-content {
  padding: 8px;
}